<!-- Zeinab's part: I made a simple registration page -->
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
    <link rel="stylesheet" href="../public/stylesnew.css">
</head>
<body>
    <h2>Register to use our application</h2>
    <form action="/register" method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Create Account</button>
    </form>
    <p>Already have an account? <a href="/login">Login here</a></p>
</body>

